<h1>edit this creature</h1>

<%= form_for @creature do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.submit "edit this creature" %>
<% end %>