<h1>make this creature</h1>
<br/>

<div class="form">
    <%= form_for @creature do |f| %>
        <%= f.label :name %> <br/>
        <%= f.text_field :name %> <br/>

        <%= f.label :description %> <br/>
        <%= f.text_field :description %> <br/><br/>

        <%= f.submit "make this creature" %>
    <% end %>
</div>